/* -----------------------------------------------------------------------------------

	0.	CSS Reset
	1.	Document Setup
	2.  header
	3.	project page


----------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------
	0.  CSS Reset
 --------------------------------------------------------------------------------- */
body, html{
	position:relative;
	width: 1200px;
	margin: 0 auto;
	font-family: GillSans, Calibri, sans-serif;
	background-color: #eceff1;
}
/* ---------------------------------------------------------------------------------
	1.  Structure
 --------------------------------------------------------------------------------- */


html .container {
	float: right;
	width: 78%;
	min-height: 800px;
}

.content {
	font-size: 13pt;  
	background-color: white;
	padding: 40px;
	margin: 10px 0;
}



/* ---------------------------------------------------------------------------------
	2.  Header
 --------------------------------------------------------------------------------- */
/* Style the tab content */

.fa {
	color: white;
	margin-left: 16%;
	font-size: 30px;
	padding-top: 5%;
}

.fa-facebook:hover { color: #3B5998; }
.fa-linkedin:hover { color: #0077B5 }
.fa-github:hover { color: green }




.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.side-nav.fixed {
	left:auto;
    top: auto;
	width: 250px;
	background-color: #212121;
}

.side-nav li>a{
    text-decoration: none;
    height: 60px;
    font-size: 20px;
	padding: 2% 15%;
    color: #ffe0b2;

}

.side-nav li {
   line-height: 30px;
}



.pf-card {
	margin-top: 20px;
    text-align: center;
    color: white;
}

.title {
    color: #bdbdbd;
    font-size: 18px;
}

.avatar{
    vertical-align: middle;
    width: 120px;
    height: 120px;
    padding: 1px;
    border-radius: 10%;
    background-color: white;
}





/* ---------------------------------------------------------------------------------
	3.  proiect page
 --------------------------------------------------------------------------------- */


.card {
	margin: auto;
}

.card .card-title{
	font-size: 32px;
	font-weight: 400;
	padding-bottom: 12px;
}

.back_btn i{
	font-size: 30pt;
	position: fixed;
}

.project-tags{
	padding: 10px;
}

.chip{
	font-size: 16px;
	padding: 0px 10px;
	margin-bottom: 0;
}

.back_btn{
	text-transform: uppercase;
	font-size:14pt;
	border-bottom: 2px solid;
}


/* project title background */
 .bg-title {
    position: absolute; /* Position the background text */
    bottom: 10px; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #76ff03;
    width: 100%; /* Full width */
    padding: 15px; /* Some padding */
    font-size: 32pt;
}

.bg-container {
	width: 80%;
	float: right;
    position: relative;
    margin-bottom: 20px;
}

.bg-container img{
	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
    filter: blur(1px);
    height: 200px;
    width: 100%;
}






/* ---------------------------------------------------------------------------------
	10.  footer
 --------------------------------------------------------------------------------- */

footer {
	min-height: 180px;
    background-color: #ffb74d;
	padding: 30px;
    left: 0;
    bottom: 0;
    width: 80%;
	overflow: auto;
	float: right;
}



